body{
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
  }
  

  
  li a.active {
    color: purple;
  }

  .canto{
    float: right;
  }
  
  .img {
    width: 70%;
    max-height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  footer{
    font-family: monospace;
    bottom: 0;
    left: 0;
    align-items: center;
    position: relative;
    width: 100%;
    opacity: 50%;
  }
  .icons{
    
    width: 100%;
    font-size: 25px;
    align-items: center;
    color: white;
    padding-top: -40px;
    padding-bottom:10px ;
    width: 70%;
    max-height: auto;
  }
  .fa-youtube, .fa-twitter, .fa-twitch, .fa-instagram{
    color: purple;
    text-decoration:none; 
  }


  .flexs{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items:center;
      justify-content: center;
      gap: 20px;
      padding-bottom: 50px;
    }

    nav {
      display: flex;
      justify-content: center;
  }

          
  .redondo	{
    border-radius: 50%;
}

.fundocard{
  background-color: whitesmoke;
}

