@keyframes loading {
	0% {
		transform: rotate(0) scale(0);
        
	}
	100% {
    transform: rotate(360deg) scale(1);
        
	}
}
.load.is-animating {
	animation: loading 1s;
}

    

@keyframes zoom {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }


}

.f-s{
    animation: zoom 1s ;
}
.f-s2{
    
    animation: zoom  1.5s ;
}