body {
    margin: 0;
}


.flex{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
      justify-content: center;
      padding: 0rem 1rem 2rem;
  }

.fundo1{
    padding: 5px;
    padding-bottom: 20px;
    background-color:white;
}
.fundo2{
  padding: 5px;
  padding-bottom: 20px;
  background-color:white;
}

h1{
    text-align: center;
    font-size: 40px;
    padding: 90px;
    font-family: "Lucida Console", "Courier New", "fantasy";
}

.h2s{
  color: white;
    text-align: center;
    font-size: 40px;
    padding: 90px;
    font-family: "Lucida Console", "Courier New", "fantasy";
}
h1.container4 {
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 80px;
letter-spacing: 6px;
word-spacing: 6px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;

}

  
  .card-container {
    padding: 5rem 2rem;
    width: 50%;
    gap: 20px;
  }
  .card-container .cardww {
   
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  }

  .cardww{
width: 500px;
max-height: 500px;
height: auto;

  }
  .cardww h2 {
    font-size: 22px;
  }
  .cardww img {
    padding: 35px;
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .card-container .cardww:hover,
  .card-container .cardww:focus {
    transform: translateY(-1rem);
    outline: none;
  }
  
  @media (max-width: 1000px) {
    #demo {
      margin-top: 0px;
    }
  
    .card-container {
      justify-content: center;
      padding: 0rem 1rem 2rem;
    }
    .card-container .cardww {
      flex: 1 1 100%;
      max-width: 300px;
    }
    .card-container .cardww:not(:first-child) {
      margin-left: 0rem;
      margin-top: 2rem;
    }

    .cardww img {
      padding: 5px;
    }

  }


.col1{
  width: 30%; 
  margin: 0; 
  float:left;
}


/* LISTA DE PRODUTOS (FILTRO) */

.Fillable{
  font-size: 20px;
}

.rad-label {
  align-content: center;
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}

fieldset{
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 12px;
  padding: 5px;
  padding-top: 30px;
}
